* {
    box-sizing: border-box;
}

:root {
    --color-white: #EEEEEE;
    --color-black: #111111;
    --color-darkblue: #1f2937;
}

body {
    margin: 0;
    background-color: var(--color-white);
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-darkblue);
}

nav a {
    text-decoration: none;
    padding: 20px;
    color: var(--color-white);
}

nav a:hover {
    background-color: var(--color-white);
    color: var(--color-darkblue);
    transition: ease-in-out 0.2s;
}
